<label>Book Title</label>
<input type"text" name="title" value="<%= book.title %>"> 
<% authors.forEach(s) %>
<select name="author">
    <% uf (author.id = book === book.author) %>
 <% authors.forEach(author => { %>
   <option label ="<%= author.name &>" value = "<%= author.id %>"></option>
<% })%>>
</select>
<input type"text" name="title" value="<%= book.title %>"> 