
<header style="position: sticky; top: 0;z-index: 999; background-color: rgb(7, 7, 7);;" >
    <nav style = "height: 90px;">
        <a href="/" class="mainbutton home-buton p2">GoWall</a>
    
    
    <a class="mainbutton button1" href="/videos" >Videos</a>
        <a class="mainbutton button3" href="/reviews">Reviews</a>
       <a class = "mainbutton button4" href="/users" >Users</a>
       <a class = "mainbutton button4" href="/songs" >Songs</a>
       <a class = "mainbutton button4" href="/albums" >Albums</a>
       <a class = "mainbutton button4" href="/movies" >Movies</a>
       <a class = "mainbutton button4" href="/reviews/new" >New Review</a>
    
</nav>
</header>

