<div class = "list ">
    <h1 class = "hd"> Top Today</h1>

    <a href = "https://youtu.be/EXoX9l4Lhao?si=yHcwkROtxJ3n5yx_" target="_blank">
    <div class = "item">
      <img class = "img" src="https://i.ytimg.com/vi/EXoX9l4Lhao/hqdefault.jpg?sqp=-oaymwEbCKgBEF5IVfKriqkDDggBFQAAiEIYAXABwAEG&rs=AOn4CLBARGZBBqHOTN_h8uL6tGJ8dslkKg" alt="Lamp" width="50">
      <p class = "vInfo" id = "overflo"> Dreaminging..<br> This.</p>
    </div>
    </a>

    <div class = "item">
      <img class = "img" src="https://i.ytimg.com/vi/fOX7gOlb8xM/hq720.jpg?sqp=-oaymwEcCNAFEJQDSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLDLkI0k5q2I1eUUYX688fb16Qtv1g" alt="Lamp" width="50">
      <p class = "vInfo" id = "overflo"> Knives Out: A Complex Film about Simple Things<br> StoryStreet</p>
    </div>

  </div>

  <div class = "reviews">
    <h1 class = "hd"> Recent Reviews</h1>

    <div class = "review-item">
      <img class = "review-profile" src = "https://lh3.googleusercontent.com/ogw/AF2bZyg8LME8PkRUVpKynXcvMylz-as6u7bm4mtFxsfhKUFWzg=s32-c-mo" alt="">
      <p class="review-profile-name"> Shrawan Benjankar</p>
      <img class = "review-img" src="https://i.ytimg.com/vi/EXoX9l4Lhao/hqdefault.jpg?sqp=-oaymwEbCKgBEF5IVfKriqkDDggBFQAAiEIYAXABwAEG&rs=AOn4CLBARGZBBqHOTN_h8uL6tGJ8dslkKg" alt="Lamp" width="130">
      <p class="review-video-title"> Dreaming</p>
     
      <div class = "stars">

      </div>
      <p class="review-video-content"> It was an amazing video!</p>
    </div>



    <div class = "review-item">
      <img class = "review-profile" src = "https://lh3.googleusercontent.com/ogw/AF2bZyg8LME8PkRUVpKynXcvMylz-as6u7bm4mtFxsfhKUFWzg=s32-c-mo" alt="">
      
      <p class="review-profile-name"> Shrawan Benjankar</p>
      <img class = "review-img" src="https://i.ytimg.com/vi/fOX7gOlb8xM/hq720.jpg?sqp=-oaymwEcCNAFEJQDSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLDLkI0k5q2I1eUUYX688fb16Qtv1g" alt="Lamp" width="130">
      <p class="review-video-title"> Knives Out: A Complex Film about Simple Things</p>
     
      <div class = "stars">

      </div>
      <p class="review-video-content"> It was an amazing video!</p>
    </div>
  </div>

  <p><%=  name%></p>
  <form action="/logout?_method=DELETE" method = "POST">
    <button type="submit">Log Out</button>
  </form>