<label>Link</label>
<input style="margin-bottom: 10px;" class="form" type="text" name="name" value="<%= video.link %>">
<br> 
<label >Rating</label>
<input style="width: 40px; margin-bottom: 10px;" type="text" name="rating" value=" "> 
<br>
<label>Content</label>

<br>
<textarea class = "textA" name="content" rows="4" cols="50"></textarea>