<% if (locals.errorMessage != null) { %>
    <%= errorMessage %>
  <% } %>
<h2  style="font-size: 30px;">New Video</h2>

<script>

</script>

<div id="container">

    <%- include('_form_fields') %>
    <a href ="/videos">Cancel</a>
    <!-- <button onclick="sendData()">Create</button> -->
   

<div id="results">

</div>
</div>





